* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    display: block;
    height: 30vh;
    background-image:linear-gradient(#2e0c8b, #FFF);
}

.container {
    position: relative;
    height: 100vh;
    /* background: silver; */
}

/* BOARD STYLESHEET */
.board {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 40%;
    margin: 40px auto;
}

.board .row {
    display: flex;
    flex-flow: column nowrap;
}

.board .cell {
    border: 1px solid gray;
    border-radius: 4px;
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid darkgray;
}

.row .cell:hover {
    transition: transform ease-in-out .2s;
}


/* NAV */
.container nav {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 108px;
    line-height: 108px;
    padding: 0 32px;
    backdrop-filter: blur(4px);
    background: #FFFFFF88;
    font-weight: bold;
    font-size: 24px;
}

.container nav .nav-connect-button {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 18px;
}

.main-container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* height: 100%; */
    /* background-color: brown; */
}

.connect-button-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    height: 180px;
}

.input-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 8px 0px;
}

.input-container div {
    display: block;
    margin: 0px 24px;
}

.input-container label {
    display: block;
    padding: 12px 4px;
    font-size: 20px;
}

.input-container input {
    outline: 0;
    border: 2px solid darkgray;
    border-radius: 8px;
    width: 240px;
    height: 48px;
    line-height: 48px;
    padding: 0 16px;
    font-size: 28px;
    transition: transform ease-out .2s;
}


.input-container button {
    border: 0;
    border-radius: 8px;
    display: block;
    width: 120px;
    height: 48px;
    line-height: 48px;
    font-weight: bold;
    align-self: flex-end;
    cursor: pointer;
}

.input-container button:focus {
    background: darkblue;
}

footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 40px 10px;
    width: 100%;
    text-align: center;
}

footer .div {
    text-align: center;
    background: green;
}